<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VoenOkrug.Properties.Settings.VoenOkrConnectionString"
            connectionString="Data Source=DESKTOP-NRFOUM2\VITALIY;Initial Catalog=VoenOkr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>